html {
  background-color: #FFFFF7;
}

body {
  font-family: Elena, Georgia, serif;
  font-size: 17px;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

a, a:active, a:visited {
  color: #CC2A2A;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

#wrapper {
  position: relative;
  display: block;
  width: 620px;
  margin: 0 auto;
}

#site-header h1 a,
#site-header h1 a:hover,
#site-header h1 a:visited,
#site-header h1 a:active {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: black;
  text-decoration: none;
}

#site-header p {
  font-size: 0.8em;
}

footer p {
  font-size: 0.8em;
  font-style: italic;
}

.post time {
  font-style: italic;
}

.post h1 {
  font-size: 1.5em;
}

.post h2 {
  font-size: 1.17em;
}

.post h3 {
  font-size: 1.1em;
}
