<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}Henrik Hodne</title>

    <link rel="stylesheet" href="/css/screen.css" media="screen, projection">
  </head>

  <body>
    <div id="wrapper">
      <header id="site-header">
        <h1><a href="/" title="Henrik Hodne: Home">Henrik Hodne</a></h1>

        <p>I'm a student and programmer. Find me on <a href="http://twitter.com/henrikhodne">Twitter</a> and <a href="https://github.com/henrikhodne">GitHub</a>.</p>
      </header>

      {{ content }}

      <footer>
        <p>Copyright &copy; 2012 Henrik Hodne</p>
      </footer>
    </div>

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
       var t   = document.createElement('script');
       t.type  = 'text/javascript';
       t.async = true;
       t.id    = 'gauges-tracker';
       t.setAttribute('data-site-id', '4ffd2ef0613f5d4197000091');
       t.src = '//secure.gaug.es/track.js';
       var s = document.getElementsByTagName('script')[0];
       s.parentNode.insertBefore(t, s);
       })();
    </script>
  </body>
</html>

