<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content-type="utf-8">
    <title>{{ page.title }}</title>

    <meta name="author" content="Henrik Hodne">

    <link rel="alternate" type="application/rss+xml" href="/atom.xml">

    <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/pygments.css" type="text/css">
    <link media="only screen and (max-device-width: 480px)" href="/css/iphone.css" type="text/css" rel="stylesheet">
    <link media="only screen and (device-width: 768px)" href="/css/iphone.css" type="text/css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet" type="text/css">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/application.js"></script>
  </head>

  <body>
    <div class="container">
      <section class="header">
	<section class="name">
	  <a href="/">
	    Henrik
	    <b>Hodne</b>
	  </a>
	</section>

	<ul class="nav">
	  <li><a href="/about.html">about</a></li>
	  <li><a href="/">posts</a></li>
	</ul>

	<ul class="social">
	  
	</ul>
      </section>

      {{ content }}
    </div>

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
       var t   = document.createElement('script');
       t.type  = 'text/javascript';
       t.async = true;
       t.id    = 'gauges-tracker';
       t.setAttribute('data-site-id', '4ffd2ef0613f5d4197000091');
       t.src = '//secure.gaug.es/track.js';
       var s = document.getElementsByTagName('script')[0];
       s.parentNode.insertBefore(t, s);
       })();
    </script>
  </body>
</html>
